 <div class="container mt-4">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-header">
                        WhatsApp Bot 24 Online
                    </div>
                    <div class="card-body">
                        <div class="qr-code-container">
                            <ol>
                                <li>Buka WhatsApp di ponsel Anda.</li>
                                <li>Klik pada ikon titik tiga di pojok kanan atas layar.</li>
                                <li>Pilih opsi 'Prangkat Tertaut'.</li>
                                <li>Pindai kode QR yang muncul di layar Anda.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-8">
                <div id="qr-code" class="d-flex align-items-center justify-content-center">
                    <button id="generateBotBtn" class="button-29">Generate Bot</button>
                </div>
                <div class="centered-content">
                    <h2>Welcome to WhatsApp Bot!</h2>
                    <p>Scan the QR code to get started.</p>
                    
                </div>
            </div>
        </div>
    </div>