<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp Bot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <meta name="monetag" content="4c8789bca2a445045de5b0d52b60e6ba"/>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6QJ60J5PV5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6QJ60J5PV5');
</script>
    <style>
        body {
            background-color: #2c2044;
            color: #ffffff;
        }

        .navbar {
            background-color: #4b396d;
        }

        .navbar-brand {
            color: #ffffff;
        }

        .navbar-toggler-icon {
            color: #ffffff;
        }

        .card-header {
            background-color: #352a51;
            color: #ffffff;
        }

        .card {
            background-color: #4b396d;
            color: #ffffff;
        }

        .card-body {
            background-color: #352a51;
            color: #ffffff;
        }

        .centered-content {
            text-align: center;
            margin-top: 50px;
            color: #ffffff;
        }

        .navbar-text {
            color: #ffffff;
        }

        .navbar-nav .nav-link {
            color: #ffffff;
        }

        .navbar-nav .nav-link:hover {
            color: #ffffff;
        }

        .nav-link.active {
            color: #ffffff;
        }

        .navbar-dark .navbar-toggler-icon {
            color: #ffffff;
        }

        .fixed-bottom {
            background-color: #4b396d;
            color: #ffffff;
        }

        .qr-code {
            width: 350px;
            height: 350px;
        }

        .qr-code-container {
            background-color: #352a51;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            padding: 20px;
            color: #ffffff;
        }

        .footer .navbar-nav .nav-link {
            color: #ffffff;
        }

        /* CSS for Floating Loading Spinner */
        .loading-spinner {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 20px;
            border-radius: 20px;
            text-align: center;
            display: none;
        }

        /* CSS for Generate Bot button */
        .button-29 {
        margin-top:10px;
            align-items: center;
            appearance: none;
            background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
            border: 0;
            border-radius: 10px;
            box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
            color: #fff;
            cursor: pointer;
            font-family: "JetBrains Mono",monospace;
            height: 60px;
            justify-content: center;
            line-height: 1;
            overflow: hidden;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: box-shadow .15s,transform .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow,transform;
            font-size: 24px;
            width: 200px; /* Adjust width as needed */
        }

        .button-29:focus {
            box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        }

        .button-29:hover {
            box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
            transform: translateY(-2px);
        }

        .button-29:active {
            box-shadow: #3c4fe0 0 3px 7px inset;
            transform: translateY(2px);
        }
    </style>
        <script>(function(d,z,s){s.src='https://'+d+'/401/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('goomaphy.com',7392560,document.createElement('script'))</script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bot Whatsapp By Agung Developer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/disclaimer">Disclaimer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/terms-conditions">Terms and Conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Documentation</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

   <%- content %>
   
   <script async="async" data-cfasync="false" src="//pl23155420.highcpmgate.com/e9775b94883b1676ea4537257fd84926/invoke.js"></script>
<div id="container-e9775b94883b1676ea4537257fd84926"></div>

    <!-- Footer -->
    <footer class="navbar navbar-dark fixed-bottom">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <span class="navbar-text">Status: <span id="status">Disconnected</span></span>
            <ul class="navbar-nav flex-row">
                <li class="nav-item me-3">
                    <a class="nav-link" href="#"><i class="fab fa-tiktok"></i></a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- Script for Loading Spinner -->
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <script>
        // Function to show loading spinner with countdown
        function showLoadingSpinnerWithCountdown() {
            document.getElementById('loading-spinner').style.display = 'block';
            let countdown = 15; // Countdown in seconds
            const countdownInterval = setInterval(() => {
                document.getElementById('loading-text').innerText = `Sabar Bro Lagi Membuat Bot... ${countdown}`;
                countdown--;
                if (countdown < 0) {
                    clearInterval(countdownInterval);
                }
            }, 1000);
        }

        // Function to hide loading spinner
        function hideLoadingSpinner() {
            document.getElementById('loading-spinner').style.display = 'none';
        }

        // Function to display QR code
        function displayQR(qrImageUrl) {
            document.getElementById('qr-code').innerHTML = `<img src="${qrImageUrl}" alt="QR Code" class="qr-code">`;
        }

        // Event listener for Generate Bot button
        document.getElementById('generateBotBtn').addEventListener('click', function() {
            // Show loading spinner with countdown
            showLoadingSpinnerWithCountdown();

            // Simulate loading for 10 seconds
            setTimeout(function() {
                // Hide loading spinner
                hideLoadingSpinner();

                // Emit request to get QR code
                socket.emit('getQR');
            }, 15000); // Change 10000 to your desired loading time in milliseconds
        });
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
    <script>
        const socket = io();

        socket.on('connect', function () {
            console.log('Connected to Socket.IO');
            document.getElementById('status').innerText = 'Connected';
        });

        socket.on('disconnect', function () {
            console.log('Disconnected from Socket.IO');
            document.getElementById('status').innerText = 'Disconnected';
        });

        socket.on('message', function (data) {
            console.log('Received message:', data);
            if (data.type === 'qr') {
                // Display QR code
                displayQR(data.qrImageUrl);
            }
        });
        
        document.addEventListener('DOMContentLoaded', function () {
            const navbarToggler = document.querySelector('.navbar-toggler');
            const navbarCollapse = document.querySelector('#navbarSupportedContent');

            navbarToggler.addEventListener('click', function () {
                navbarCollapse.classList.toggle('show');
            });
        });
        
        
    </script>
    
    <!-- Floating Loading Spinner -->
    <div id="loading-spinner" class="loading-spinner">
        <div id="loading-text" style="font-size: 20px; color: #fff;">Sabar Bro Lagi Membuat Bot...</div>
        <dotlottie-player src="https://lottie.host/5741a5d7-3e1c-453a-ab43-3cd48e0cea95/r44EYzKGGq.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
    </div>
    
     <script type='text/javascript' src='//pl23155387.highcpmgate.com/5d/fe/05/5dfe0538b9734b37199a4fd9bb02b819.js'></script>
    
</body>

</html>
